body { margin: 100px 20px 0px 20px; font-family: Arial, Helvetica, sans-serif; }
.page-header { 
    text-align: center; user-select: none;
    height: 37px;
    overflow-y: hidden;
    transition: font-size 0.5s, color 0.5s, background-color 0.5s, height 0.5s;
}
.page-header:hover {
    background-color: white;
    color: black;
    font-size: 40px;
    height: 100px;
}
.page-subheader {
    text-align: center;
}
html { background-color: rgb(0, 25, 50); }
div { color: white; }
.shoulder-right {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    background-color: rgb(0, 46, 105);
    width: 100%; height: 100%;
}
.shoulder-left {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 25px;
    background-color: rgb(0, 46, 105);
    width: 100%; height: 100%;
}
.over-shoulder { transform: translateY(-100px); }
.menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 46, 105);
    color: white;
}
.flex { display: flex; justify-content: center; }
.horizontal-flex { flex-flow: row wrap; }
.evenly-spaced-flex { justify-content: space-evenly; }
.menu-button {
    height: 100px;
    text-align: center; vertical-align: auto; user-select: none;
    box-shadow: 
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black;
}
.menu-link:hover:not(.inline-text-link) { z-index: 1; transition: z-index 0s; }
.menu-link:hover:not(.inline-text-link) .menu-button {
    border-radius: 25px;
    background-color: #222222;
    box-shadow:
        -2px -2px 3px black,
        -4px 0px 3px black,
        -2px 2px 3px black,
        0px 4px 3px black,
        2px 2px 3px black,
        4px 0px 3px black,
        2px -2px 3px black,
        0px -4px 3px black;
    transition: background 0.5s, border-radius 0.5s, box-shadow 0.5s;
}
.menu-link:not(hover, .inline-text-link) { z-index: -1; transition: z-index 2s; }
.menu-link:not(hover, .inline-text-link) .menu-button {
    border-radius: 0px;
    background-color: rgb(0, 46, 105);
    box-shadow:
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black,
        0px 0px 0px black;
    transition: background 0.5s, border-radius 0.5s, box-shadow 0.5s;
}
.current-location { font-size: 18px; transform: translateY(-27px); }
.current-location-button:hover .current-location { opacity: 1; transition: opacity 0.5s; }
.current-location-button:not(hover) .current-location { opacity: 0; transition: opacity 0.5s; }
.current-location-button {
    width: 25%; border-radius: 0px;
    text-align: center; vertical-align: auto; user-select: none;
    color: white;
}
.current-location-button:hover, .current-location-button:not(hover) {
    opacity: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(0, 25, 50);
    transition: none;
}
.menu-button img { border-radius: 100%; background-color: #4d97ff; width: 55px; height: 55px; }
.menu-button:hover img { background-color: white; transition: background-color 0.5s; }
.menu-button:not(hover) img { background-color: #4d97ff; transition: background-color 0.5s; }
a:not(.inline-text-link) { text-decoration: none; }
.menu-link {
    width: 25%; border-radius: 0px;
    height: 100px;
}
p { font-size: 17px; }
@media screen and (max-width: 740px) {
    .title {
        visibility: hidden;
        position: absolute;
    }
}
h1, h2, h3, h4, h5, h6, p { color: white; text-align: center; }
iframe { width: 100%; height: 600px; }
.link {
    display: flex;
    width: 18%; height: 100px;
    border-radius: 30px;
    font: 20px Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    user-select: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: box-shadow 0.5s, background-color 0.5s !important;
}
.link:hover {
    box-shadow: 0px 4px 4px black, -4px 0px 4px black, 0px -4px 4px black, 4px 0px 4px black;
    background-color: #0055FF;
}
.link:not(hover) {
    box-shadow: 0px 0px 0px black, 0px 0px 0px black, 0px 0px 0px black, 0px 0px 0px black;
    background-color: #0022FF;
}
.full-page {
    margin: 0px;
    height: calc(100vh - 100px);
    width: 100vw;
    overflow: hidden;
}
body.full-page {
    margin-top: 100px;
}

#loading-bar {
    accent-color: lightgreen;
    margin: 3px;
    width: 75%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    left: 12.5%;
}